$backgroundMainColour: black;
$searchInputBG: #444;
$searchInputTextColour: #ccc;
$btnBGColour: #2ECC71;
$inputTextColour: #666;

$itemBGColour: #D35400;
$itemTextColour: #ffb963;
$errorTextColour: tomato;
